  <head>
      <base href="/">
  </head>
<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

<table class="table table-hover">
  <thead>
                    <tr>
                        <th>Name</th>
                        <th>Registration Number</th>
                        <th>View details</th>
                        <th>Delete Customer</th>
                    </tr>
                </thead>
 <tbody>
                    <tr *ngFor='let customer of customers' >
                        <td > 
                            <!--<a [routerLink]="['/product', product.productId]">-->
                            {{customer.fn+" "+customer.ln}}
                            <!--</a>-->
                        </td>
                        <td>{{ customer.vn | lowercase }}</td>
                        <td>
                              <button type="button" class="btn btn-info" (click)="onView(customer)"  >View</button>                          
                        </td>
                        <td><button type="button" class="btn btn-danger" (click)="onDelete(customer)"   >Delete</button></td>
                        
                    </tr>
                </tbody>

</table>
</div>

<button type="submit" class="btn btn-danger" (click)="onUndo()" >Undo</button>
<button type="button" class="btn btn-info" (click)="onAdd()">Add new request</button>