<div  >
   <h3>
   Vehicle service view form
   <!--{{cust2.fn}}-->
      </h3>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstname">First name</label>
    <input type="text" class="form-control" id="firstname"  required name="fn" [(ngModel)]='fn' placeholder="Ishita" disabled>
  </div>

  <div class="form-group">
    <label for="lastname">Last name</label>
    <input type="text" class="form-control" id="lastname"  required name='ln' placeholder="Chourasia" [(ngModel)]='ln' disabled>
  </div>

<div class="form-group">
    <label for="vehicleno"> Vehicle Registration number</label>
    <input type="text" class="form-control" id="vehicleno"   required name='vn' placeholder="MP-09-AB-8921" [(ngModel)]='vn' disabled>
  </div>

  <div class="form-group">
    <label for="mobno">Mobile number</label>
    <input type="number" class="form-control" id="mobno"  required  name='mn' placeholder="9999955555" [(ngModel)]='mn' disabled>
  </div>

 <div>
     Address
<textarea class="form-control" rows="3"  name='add'  required id="add" [(ngModel)]='add' disabled></textarea>
 </div>
  
<div class="form-group">
    <label for="pickupdate"> Pickup Date</label>
    <input type="date" class="form-control" id="pickupdate"  required   name='pd' [(ngModel)]='pd' disabled>
  </div>

  <div class="form-group">
    <label for="returndate">Return date</label>
    <input type="date" class="form-control" id="returndate"  required  name='rd'  [(ngModel)]='rd' disabled>
  </div>

 <input type="button" class="btn btn-default" (click)="onBack()" value="Back" />
</form>
</div>